{% extends "layout.html" %}
{% block content %}
    <h1>BG Info portal </h1>
    <div class="jumbotron vertical-center media-body">
        <div class="content-section">
                    <p>BG Info Portal e специализиран новинарски агрегатор, който събира на едно място най-интересните
                    новини от водещите български онлайн издания. Събраните новини са разделени по тема в следните
                    категории:
                    <ul>
                        <li>България - Новини от България.</li>
                        <li>Свят - Новини от света.</li>
                        <li>Икономика - Икономически новини.</li>
                        <li>Технологии - Технологични новини.
                        <li>Спорт - Спортни новини.</li>
                        <li>Интересно - Всичко останало.</li>
                    </ul>
                    С цел актуалност представената информация се обновява няколко пъти ежедневно.</p>
        </div>
    </div>
{% endblock content %}